body {
  background-image: url('background.png');

}
 
.box1 {
  background-color: #000;
  color: #fff;
  opacity: 0.5;
}
 
.box2 {
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
  padding: 20px 40px; 
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  width: 200px;
}

.container1 {

}